/* layout style */
@use "./layout.scss";

/* components style */
@use "./components/navbar.scss";

@use "./components/sidebar.scss";

@use "./components/codeboard.scss";

@use "./components/basicLayout.scss";

@use "./components/button.scss";

@use "./components/switch.scss";

@use "./components/radio.scss";

@use "./components/checkbox.scss";

/* containers style */
@use "./containers/homepage.scss";

@font-face {
  font-family: genSen;
  src: url(../style/font-family/GenSenRounded2TW-B.otf),
    url(../style/font-family/GenSenRounded2TW-EL.otf),
    url(../style/font-family/GenSenRounded2TW-H.otf),
    url(../style/font-family/GenSenRounded2TW-L.otf),
    url(../style/font-family/GenSenRounded2TW-M.otf),
    url(../style/font-family/GenSenRounded2TW-R.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: genSen, Arial, sans-serif;
}
