.codeboard {
  background-color: rgb(1, 22, 39);
  width: 60vw;
  min-height: 20vh;
  padding: 0.5rem 1.5rem;

  .font-style {
    //   font-size: 10px;
    font-family: Arial, sans-serif !important;
  }
}
