.codeboard {
  background-color: rgb(30, 30, 30);
  width: 60vw;
  //min-height: 20vh;
  //padding: 0.5rem 1.5rem;

  .top-bar {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    span {
      color: white;
      font-size: 1rem;
    }

    .copy-icon {
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        font-size: 0.75rem;
        background-color: white;
        color: black;
        margin-right: 0.5rem;
        padding: 0.2rem 0.5rem;
        border-radius: 5px;
      }

      .fa-copy {
        font-size: 1.2rem;
        color: white;
      }

      .fa-check {
        font-size: 1.2rem;
        color: lightgreen;
      }
    }
  }

  .font-style {
    //   font-size: 10px;
    font-family: Arial, sans-serif !important;
  }
}
